<% include partials/header %>
<a href="/campgrounds/new">Add new camp</a>
<h1>This be the campgrounds page</h1>
<% campgrounds.forEach(function(campground){ %>
  <div>
    <%= campground.name %>
    <img src='<%= campground.image %>'>
  </div>
<% }) %>
<% include partials/footer %>
