<% include partials/header %>
<h1>Create a campground</h1>
<form class="" action="/campgrounds" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="image" placeholder="image">
  <button>Submit</button>
</form>
<a href="/campgrounds">Go back</a>
<% include partials/footer %>
